.u-section-1 {
  background-image: url('../images/1dbfb137-0b1b-4f6c-879b-6a1df55e6803.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 1464px;
}

.firstDiv {
  display: flex;
  justify-content: space-around;
  height:600px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 49px 448px 0 22px;
}

.u-section-1 .u-shape-1 {
  width: 546px;
  height: 410px;
  background-image: none;
  margin: 96px 47px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 546px;
  margin: -410px auto 0 547px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-2 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-3 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-5 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-6 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-7 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-8 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-9 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-10 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-11 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-12 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-13 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-14 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-15 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-16 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-17 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-18 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-19 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-20 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-21 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-22 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-23 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-24 {
  font-family: Audiowide;
  font-size: 14px;
}

.u-block-c890-36 {
  background-image: none;
}

.u-section-1 .u-shape-2 {
  width: 98px;
  height: 99px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -394px auto 0 222px;
}

.u-section-1 .u-shape-3 {
  width: 60px;
  height: 60px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 208px auto 0 279px;
}

.u-section-1 .u-shape-4 {
  width: 318px;
  height: 288px;
  margin: -308px auto 0 10px;
}

.u-section-1 .u-shape-5 {
  width: 138px;
  height: 138px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -91px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 244px;
  height: 195px;
  margin: -295px auto 0 60px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  animation-duration: 1750ms;
  margin: -137px auto 0 388px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 181px 406px 0 auto;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: -38px 131px 60px auto;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 270px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 320px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 206px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 50px;
  }

  .u-section-1 .u-table-1 {
    margin-left: 174px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 245px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 116px;
  }
}