.u-section-1 {
  background-image: url('../images/1dbfb137-0b1b-4f6c-879b-6a1df55e6803.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 1530px;
}

.firstDiv {
  display: flex;
  justify-content: space-around;
  height:600px;
}

.chartGroup {
  width: 30%;
  height: 10%;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 51px 530px 0 32px;
}

.u-section-1 .u-shape-1 {
  width: 535px;
  height: 206px;
  margin: 73px 49px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 534px;
  margin: -206px 50px 0 auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-2 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-3 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-4 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-5 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-6 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-7{
  font-family: Audiowide;
  font-size: 9px;
}

.u-section-1 .u-table-cell-8{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-9{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-10{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-11{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-12{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-13{
  font-family: Audiowide;
  font-size: 9px;
}

.u-section-1 .u-table-cell-14{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-15{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-16{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-17{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-18{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-19{
  font-family: Audiowide;
  font-size: 9px;
}

.u-section-1 .u-table-cell-20{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-21{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-22{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-23{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-24{
  font-family: Audiowide;
  font-size: 14px;
}

.u-block-eb0a-36 {
  background-image: none;
}

.u-section-1 .u-shape-2 {
  width: 569px;
  height: 203px;
  margin: 106px 33px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 98px;
  height: 99px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -478px auto 0 222px;
}

.u-section-1 .u-shape-4 {
  width: 60px;
  height: 60px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 208px auto 0 279px;
}

.u-section-1 .u-shape-5 {
  width: 318px;
  height: 288px;
  margin: -308px auto 0 10px;
}

.u-section-1 .u-shape-6 {
  width: 138px;
  height: 138px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -91px auto 0 0;
}

.u-section-1 .u-table-2 {
  width: 569px;
  margin: -118px 32px 0 auto;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-25 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-26 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-27 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-28 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-29 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-30 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-31 {
  font-family: Audiowide;
  line-height: 1;
}

.u-section-1 .u-table-cell-32{
  font-family: Audiowide;
  font-size: 8px;
}

.u-section-1 .u-table-cell-33{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-34{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-35{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-36{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-37{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-38{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-39{
  font-family: Audiowide;
  font-size: 8px;
}

.u-section-1 .u-table-cell-40{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-41{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-42{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-43{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-44{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-45{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-46{
  font-family: Audiowide;
  font-size: 8px;
}

.u-section-1 .u-table-cell-47{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-48{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-49{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-50{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-51{
  font-family: Audiowide;
  font-size: 14px;
}

.u-section-1 .u-table-cell-52{
  font-family: Audiowide;
  font-size: 14px;
}

.u-block-eb0a-240 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 279px;
  height: 279px;
  margin: -409px auto 0 37px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -164px auto 0 396px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: -75px auto 0 629px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: -38px auto 0 904px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 270px auto 0 904px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: -38px auto 0 629px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-icon-5 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 362px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -415px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 327px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -74px;
    margin-left: 429px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 704px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 704px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 142px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 250px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 209px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 484px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 484px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 209px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 5px;
  }

  .u-section-1 .u-table-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 188px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 304px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 304px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: 109px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -423px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -66px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 104px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 104px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

}